@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border-bottom: 1px solid #dee0ea;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-center .navigation .menu-list {
    display: flex;
    column-gap: 30px;
    align-items: center;

    &>.menu-list-item {
        display: flex;

        &:hover {
            &>.menu-link {
                &:after {
                    width: 100%;
                }
            }

        }

        &>.menu-link {
            font-size: 14px;
            font-weight: 500px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            position: relative;

            /* ! <-*/
            &::after {
                content: "";
                width: 0;
                height: 2px;
                background-color: #1367ef;
                position: absolute;
                /* ! pozisyonu çevrelemek için bir üst kapsayıcıya position:relative uygulanmalıdır */
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                /* ikonuda dahil ederek ÇİZGİYİ ORTALAMAYI SAĞLAR*/
                transition: .2s ease width;
            }

            &>i {
                font-size: 12px;
            }
        }
    }
}



.header-center .menu-list .menu-list-item:hover .header-center .menu-list .menu-list-item:hover .menu-link.active::after {
    width: 100%;
    /* background-color: #1367ef; */
}



.header-right .header-right-links {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &>.bi-person {
        font-size: 23px;
    }

    &>.toggle-button {
        border: none;
        background-color: transparent;
    }

    &>.header-cart {
        position: relative;

        &>.header-cart-link {
            &>.header-cart-count {
                width: 16px;
                height: 16px;
                background-color: #1367ef;
                color: white;
                font-size: 10px;
                border-radius: 100%;
                position: absolute;
                top: -10px;
                right: -10px;
                display: flex;
                text-align: center;
                justify-content: center;
                font-weight: 500;
            }
        }
    }
}

.header-right i {
    font-size: 18px;
    display: flex;
}